.custom-report-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .back {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  .metrics-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      cursor: pointer;

      input {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  .report-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    button {
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease;
    }

    button:first-child {
      background: #007bff;
      color: white;
    }

    button:first-child:hover {
      background: #0056b3;
    }

    button:last-child {
      background: #28a745;
      color: white;
    }

    button:last-child:hover {
      background: #218838;
    }

    button:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  .charts-container {
    .charts {
      display: flex;

      .chart {
        width: 50%;
      }
    }
  }

  .report-table-container {
    overflow-x: auto;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    thead {
      background: #007bff;
      color: white;
      text-transform: uppercase;

      tr {
        th {
          padding: 10px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: #f2f2f2;
        }

        &:hover {
          background: #dfe9f3;
        }

        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}
